@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("./Pretendard-Regular.subset.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url("./Pretendard-Medium.subset.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url("./Pretendard-SemiBold.subset.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url("./Pretendard-Bold.subset.woff2") format("woff2");
  font-display: swap;
}
